PORT=3000
NODE_ENV=development

# Выбор БД (для переключения на PostgreSQL нужно будет просто изменить mysql на postgres)
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=taskmanager

JWT_SECRET=super_secret_key_for_development_only_123!
JWT_EXPIRATION=1d